[MESSAGES CONTROL]
disable=too-few-public-methods,missing-docstring,invalid-name,no-else-return,duplicate-code, unidiomatic-typecheck,unsupported-membership-test,no-member,too-many-instance-attributes,too-many-arguments,no-self-use,too-many-return-statements,broad-except
